<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- Translate the title -->
    <ion-title>{{ 'MY_OFFERS' | translate }}</ion-title>

    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <!-- Loading spinner -->
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner color="primary"></ion-spinner>
        </div>

        <!-- No offers found message -->
        <div class="ion-text-center" *ngIf="!isLoading && offers.length <= 0">
          <p>{{ 'NO_OFFERS_FOUND' | translate }}</p>
          <ion-button color="primary" routerLink="/places/tabs/offers/new">
            {{ 'OFFER_NEW_PLACE' | translate }}
          </ion-button>
        </div>

        <!-- List of offers -->
        <ion-list *ngIf="!isLoading && offers.length > 0">
          <ion-item-sliding *ngFor="let offer of offers" #slidingItem>
            <app-offer-item [offer]="offer"></app-offer-item>
            <ion-item-options side="end">
              <ion-item-option
                color="secondary"
                (click)="onEdit(offer.id, slidingItem)"
              >
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
