<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/places/tabs/offers/' + placeId"
      ></ion-back-button>
    </ion-buttons>
    <!-- Translating the title -->
    <ion-title>{{ 'EDIT_OFFER' | translate }}</ion-title>

    <ion-buttons slot="primary">
      <!-- Corrected ion-button structure -->
      <ion-button
        *ngIf="form"
        (click)="onUpdateOffer()"
        [disabled]="!form.valid"
        [attr.aria-hidden]="isLoading ? 'true' : null"
      >
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [attr.inert]="isLoading ? true : null" class="ion-padding">
  <!-- Loading spinner -->
  <div class="ion-text-center" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <!-- Form for offer details -->
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <!-- Translating input fields -->
          <ion-item>
            <ion-label position="floating">{{ 'TITLE' | translate }}</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="title"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <!-- Translating description -->
          <ion-item>
            <ion-label position="floating"
              >{{ 'SHORT_DESCRIPTION' | translate }}</ion-label
            >
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Validation error message -->
      <ion-row
        *ngIf="!form.get('description')?.valid && form.get('description')?.touched"
      >
        <ion-col size-sm="6" offset-sm="3">
          <!-- Translating validation message -->
          <p>{{ 'DESCRIPTION_VALIDATION' | translate }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
